<div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">Trang chủ</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Nhân viên </a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Bệnh nhân </a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Thuốc</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Danh sách khám</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Báo cáo</a>
</div>